.content__boxed {
    width: 100vw;
    height: 100vh;
}

.content__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mb_4 {
    margin-bottom: 1.5rem;
}

.text_center {
    text-align: center;
}

.mt_5 {
    margin-top: 3rem;
}

.h1 {
    font-size: 36px;
    font-weight: bold;
    width: 100%;
}

.d_md_flex {
    display: flex;
}

.justify_content_center {
    justify-content: center;
}

