table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 50px;
}

td, th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
    width: 200px;
}

th {
    background-color: limegreen;
    color: white;
}

tr {
    height: 40px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.box{
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box button{
    display: inline-block;
    font-weight: 400;
    color: #0275d8;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #0275d8;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.box button:hover {
    color: #fff;
    background-color: limegreen;
    border-color: limegreen;
}

.sorters {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
